body {
    background-color: limegreen;
}

p {
    color:rebeccapurple;
    font-size: 8;
    font-weight: 600;
}

img {
    width: 50%;
    max-width: 300px;
}

#main-cd {
    width: 200px;

}

#chickenTable {
    border:black solid;
    
}